@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f4f1d9;
  font-family: "Edu VIC WA NT Hand", "sans-serif";
  font-weight: 400;
  font-style: normal;
  width: 100%;
  height: 100%;
}

header {
  background-color: #ebe591;
  padding: 3rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

header > p {
  color: #322f23;
  font-weight: 500;
  font-size: 4rem;
  padding-bottom: 2rem;
  width: 100%;
}
p > span {
  font-weight: 400;
}
form {
  width: 100%;
}
input {
  margin: 0;
  border: none;
  padding: 0.6rem;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  width: 75%;
  font-size: 1rem;
  font-family: "Edu VIC WA NT Hand", "sans-serif";
  font-weight: 500;
  outline: none;
  background-color: #f4f1d9;
  color: #322f23;
}
button {
  margin: 0;
  padding: 0.6rem;
  width: 20%;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  font-size: 1rem;
  font-family: "Edu VIC WA NT Hand", "sans-serif";
  font-weight: 500;
  background-color: #6b654b;
  color: #fff;
  border: none;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background-color: #322f23;
  cursor: pointer;
}
#tasks {
  /* padding: 1rem; */
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
}

ul > li {
  position: relative;
  padding: 0 2rem 0.5rem 2rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#group > a {
  text-decoration: none;
  color: #322f23;
  font-size: 1.3rem;
}
i.bi.bi-pencil-square {
  background-color: #6b654b;
  border-bottom-left-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  font-size: 1.6rem;
  color: #f4f1d9;
  padding: 0rem 0 0 0.5rem;
  transition: all 0.3s ease-in-out;
  margin-top: 0.2rem;
}
i.bi.bi-trash {
  background-color: #6b654b;
  border-bottom-right-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  font-size: 1.6rem;
  color: #f4f1d9;
  padding: 0 0.5rem 0 0;
  transition: all 0.3s ease-in-out;
}

i.bi.bi-pencil-square:hover,
i.bi.bi-trash:hover {
  background-color: #322f23;
  color: #f4f1d9;
}
#group > span {
  color: #6b654b;
  font-style: italic;
  font-size: 0.9rem;
  padding-left: 1rem;
}

#group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
ul > li:nth-child(odd) {
  background-color: #ebe591;
}
ul > li:hover {
  background-color: #fff9a3;
}
#btnGroup {
  margin-top: 0.5rem;
}
section#editScreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000080;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}
div#editCard {
  width: 30rem;
  position: fixed;
  background-color: #322f23;
  color: #f4f1d9;
  padding: 1.7rem;
  border-radius: 1.5rem;
}
div#head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div#editCard > h2 {
  padding: 2rem;
  margin: 0;
}
i.bi.bi-x-square {
  display: inline-block;
  font-size: 1.8rem;
  text-decoration: none;
  color: #f4f1d9;
  transition: all 0.3s ease-in-out;
  transform: rotate(0deg);
}
i.bi.bi-x-square:hover {
  transform: rotate(180deg);
  color: #e60b00;
}

div#editCard > hr {
  background-color: #f4f1d9;
  margin: 0 auto;
}
div#editCard > p {
  padding: 1.5rem;
  text-align: center;
  font-size: 1.3rem;
  line-height: 2rem;
}

div.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
div.btns > a {
  text-decoration: none;
  padding: 0.9rem;
  width: 7rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
}
#btnYes {
  color: #3cf54b;
  border: solid 1px #3cf54b;
  border-radius: 1rem;
  margin-right: 1rem;
  transition: all 0.3s ease-in-out;
}
#btnNot {
  color: #e60b00;
  border: solid 1px #e60b00;
  border-radius: 1rem;
  margin-right: 1rem;
  transition: all 0.3s ease-in-out;
}

#btnNot:hover {
  border: solid 1px #e60c00;
  background-color: #e60b00;
  color: #f4f1d9;
}
#btnYes:hover {
  background-color: #3cf54b;
  color: #f4f1d9;
}
.message {
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 35dvw;
  right: 35dvw;
  z-index: 10;
  text-align: center;
  font-family: "Roboto", "Arial";
  font-size: 0.9rem;
  font-weight: 600;

  display: flex;
  border-radius: 1.5rem;
  margin-top: 1rem;
  align-items: center;
  justify-content: space-between;
  animation: slideDown 0.5s ease-in-out;
}
.message-danger {
  background-color: rgb(255, 197, 197);
  color: #e60b00;
  border: solid 2px #e60b00;
}
.message-success {
  background-color: rgb(212, 253, 224);
  color: #05ad13;
  border: solid 2px #05ad13;
}
span#close-message {
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3 ease-in-out;
  padding-left: 0.9rem;
}
span#close-message::hover {
  color: #960700;
}
/*ANIMAÇÕES*/
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* RESPONSIVIDADE*/
@media (max-width: 600px) {
  input {
    width: 60%;
  }
  button {
    width: 30%;
  }
  ul > li {
    padding: 0 0.7rem 0.5rem 0.7rem;
  }
  #btnGroup {
    display: flex;
  }
  i.bi.bi-trash {
    margin-left: 0.2rem;
  }
  div#editCard {
    width: 20rem;
  }
  #group {
    flex-direction: column;
    align-items: unset;
    align-content: center;
  }
  .message {
    left: 10dvw;
    right: 10dvw;
  }
}
